:root {
    --white: #fff;
    --black: #000;
    --gray_100: #111111;
    --gray_200: #222222;
    --gray_300: #333333;
    --gray_400: #444444;
    --gray_500: #555555;
    --gray_600: #666666;
    --gray_700: #777777;
    --gray_800: #888888;
    --gray_900: #999999;
}

